html{
    background-color: #010808;
    
}
body{
    background-color: #010808;
    

}
/*Navbar*/
.navbar{
    font-family: 'Bebas Neue' , 'cursive';
    font-size: 30px;
    font-weight: 700;
}
#logo-letras{
    font-size: 30px ;
}

#logo{
    width: 32px;
}
/*carousel*/

/*quienes somos*/
#quienesSomos{
    background-color: #010808;
    color: #ffff;
}
#quienesSomos h2{
    font-family: 'Bebas Neue' , 'cursive';
    font-weight: 400;
}
#quienesSomos .container{
    padding: 24px 0 10px 0;
    font-family: 'Josefin sans';
}
.line{
    color:#17A3B8;
    width: 1120;
}
#div-parrafos{
    height: 650px;
}
.blue-div{
    background-color: #17A3B8;
    height: 40px;
}
.blue-div i{
    color: #ffff;
    
}
.div-negro{
    background-color: #010808;
}

/*detacados*/

#destacados{
    background-color: #010808;
}
#destacados h2{
    color: #ffff; 
    font-family: 'Bebas Neue' , 'cursive';
    font-weight: 400;
}
.card-body{
    background-color:#17A3B8;
    color: #ffff;
}
#card-img2{
    height: 148px;
}
.card h3{
    font-family: 'Josefin sans';
    font-weight: 700;
}
.card p{
    font-family: 'Josefin sans';
    font-weight: 400;
}

/*contacto*/
#contacto{
    background-color: #010808;
}
#contacto h3{
    color: #ffff; 
    font-family: 'Bebas Neue' , 'cursive';
    font-weight: 400;
}
#contacto .container{
    padding: 10px 0px 30px 0px;
} 

#formulario {
    padding: 0px 30px 0 30px;
}

/*footer*/
footer{
    background-color: #17A3B8;
    height: 130px;
    color: #ffff;
}
 
footer .logo2{
    text-align: end;
    
}
footer h3{
    font-family: 'Bebas Neue' , 'cursive';
    font-weight: 700;
    font-size: 33px;
}
footer .redes{
    text-align: center;
    color: #ffff;

} 
footer a{
    color: #ffff;

}
@media only screen and (min-width: 320px) and (max-width: 1333px){

    footer .logo2{
        text-align: center;
    }    
    footer .redes{
        text-align: center;
    } 

}
@media only screen and (min-width: 320px) and (max-width: 1333px){

        #destacados .card{
            display:inline-block ;
        }


}
